<md-content layout-padding>
  <h1>Agents <md-button ng-click="$ctrl.refresh()">Refresh</md-button></h1>
  <div>
    <md-table-container>
      <table md-table>
        <tbody md-body>
          <thead md-head>
            <tr md-row>
              <th md-column>
                number
              </th>
              <th md-column>
                client
              </th>
              <th md-column>
                pass
              </th>
              <th md-column>
                status
              </th>
              <th md-column>
                updated
              </th>
            </tr>
          </thead>
          <tr md-row ng-repeat="client in $ctrl.collection.clients">
            <td md-cell>
              {{$index + 1}}
            </td>
            <td md-cell>
              {{client.client}}
            </td>
            <td md-cell>
              {{client.pass}}
            </td>
            <td md-cell>
              {{client.status}}
            </td>
            <td md-cell>
              <span am-time-ago="client.updated | amFromUnix"></span>
            </td>
          </tr>
          <tfoot md-foot>
            <tr md-row>
              <td md-cell colspan="2">
              </td>
              <td md-cell>
                <!-- {{$ctrl.passTotal()}} -->
              </td>
            </tr>
          </tfoot>
        </tbody>
      </table>
    </md-table-container>
  </div>
</md-content>
