<div>
  <h1>Genesis</h1>
  <ul>
    <li><a ng-href="/mongo">Mongo</a></li>
    <li><a ng-href="/log/app">Log</a></li>
  </ul>
</div>
<h1>Peers</h1>
<div>
  <md-table-container>
    <table md-table>
      <tbody md-body>
        <thead md-head>
          <tr md-row>
            <th md-column>
              publicHostname
            </th>
            <th md-column>
              privateHostname
            </th>
            <th md-column>
              Mongo
            </th>
            <th md-column>
              Log
            </th>
          </tr>
        </thead>
        <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="peer in $ctrl.peers">
          <td md-cell>
            {{peer.publicHostname}}
          </td>
          <td md-cell>
            {{peer.privateHostname}}
          </td>
          <td md-cell>
            <a ng-href="{{peer.peer}}">Mongo</a>
          </td>
          <td md-cell>
            <a ng-href="{{peer.log}}">log</a>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
